Repository daczarne/legion, changes with the labels that .github/labeler.yaml gives for each.
All labels: building, campaign, city, display, docs, effects, env, examples, exceptions, geo_features, kingdom, resources, scenario, tests, tools, troops, vs-code-settings, workflows

Adds the get_city method to the Kingdom class
  modules/kingdom.py
Labels: kingdom

Add new cities
  examples/kingdom.py
Labels: examples, kingdom

add-get-city-method
  modules/kingdom.py
Labels: kingdom

Adds the has_city method
  modules/kingdom.py
Labels: kingdom

Adds docstring
  modules/kingdom.py
Labels: kingdom

Adds docstring
  modules/kingdom.py
Labels: kingdom

Adds unit tests for the new methods
  tests/test_kingdom.py
Labels: kingdom, tests

Adds methods to the `Kingdom` class (#139)
  modules/kingdom.py
  tests/test_kingdom.py
Labels: kingdom, tests

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds example for city with geo limitations
  examples/city.py
Labels: city, examples

Adds validation of all buildings put together
  modules/city.py
Labels: city

Adds new exception
  modules/exceptions.py
Labels: exceptions

Adds supply dump as blocked
  modules/city.py
Labels: city

Refactors method to accomodate supply dumps
  modules/city.py
Labels: city

Adds test
  tests/test_city.py
Labels: city, tests

Adds unit tests
  tests/test_city.py
Labels: city, tests

Updates unit tests
  tests/test_city.py
Labels: city, tests

Adds validation of available building spots (#140)
  examples/city.py
  modules/city.py
  modules/exceptions.py
  tests/test_city.py
Labels: city, examples, exceptions, tests

Adds new city
  examples/kingdom.py
Labels: examples, kingdom

Adds new city
  examples/kingdom.py
Labels: examples, kingdom

Adds new city
  examples/kingdom.py
Labels: examples, kingdom

Fixes docstring
  modules/city.py
Labels: city

Updates class docstring
  modules/city.py
Labels: city

Updates class docstring
  modules/city.py
Labels: city

Updates class docstring
  modules/city.py
Labels: city

Updates class docstring
  modules/city.py
Labels: city

Update docstrings of the `City` class (#142)
  modules/city.py
Labels: city

Adds existing cities
  examples/kingdom.py
Labels: examples, kingdom

Fixes typo in city name
  data/cities.yaml
Labels: city

Fixes typo in city name
  examples/kingdom.py
Labels: examples, kingdom

Adjusts cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

.github/labeler.yaml:

building:
  - changed-files:
      - any-glob-to-any-file:
          - data/buildings.yaml
          - examples/building.py
          - modules/building.py
          - tests/test_building.py
campaign:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/campaigns.txt
city:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/cities.txt
          - data/cities.yaml
          - examples/city.py
          - modules/city.py
          - tests/test_city.py
display:
  - changed-files:
      - any-glob-to-any-file:
          - modules/display.py
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - docs/**
          - img/**
          - README.md
effects:
  - changed-files:
      - any-glob-to-any-file:
          - modules/effects.py
          - tests/test_effects.py
env:
  - changed-files:
      - any-glob-to-any-file:
          - Pipfile
          - Pipfile.lock
examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
exceptions:
  - changed-files:
      - any-glob-to-any-file:
          - modules/exceptions.py
geo_features:
  - changed-files:
      - any-glob-to-any-file:
          - modules/geo_features.py
          - tests/test_geo_features.py
kingdom:
  - changed-files:
      - any-glob-to-any-file:
          - examples/kingdom.py
          - modules/kingdom.py
          - tests/test_kingdom.py
resources:
  - changed-files:
      - any-glob-to-any-file:
          - modules/resources.py
          - tests/test_resources.py
scenario:
  - changed-files:
      - any-glob-to-any-file:
          - examples/scenario.py
          - modules/scenario.py
tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - pytest.ini
tools:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell.json
          - .cspell/**
          - .editorconfig
          - .gitattributes
          - .gitignore
          - .isort.cfg
          - .markdownlint-cli2.yaml
          - .markdownlint.yaml
          - .yamllint.yaml
troops:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/troops.txt
vs-code-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .vscode/**
workflows:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
