Repository daczarne/legion, changes with the labels that .github/labeler.yaml gives for each.
All labels: building, campaign, city, display, docs, effects, env, examples, exceptions, geo_features, kingdom, resources, scenario, tests, tools, troops, vs-code-settings, workflows

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Fixes typo in city name
  data/cities.yaml
Labels: city

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds more cities
  examples/kingdom.py
Labels: examples, kingdom

Adds more cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Adds new cities
  examples/kingdom.py
Labels: examples, kingdom

Fixes city names
  data/cities.yaml
Labels: city

Fixes city names (#144)
  data/cities.yaml
Labels: city

Adds new strategies
  modules/city.py
  tests/test_city.py
Labels: city, tests

Adds new staffing strategies (#145)
  modules/city.py
  tests/test_city.py
Labels: city, tests

Adds pre assigned workers calculations
  modules/city.py
  tests/test_city.py
Labels: city, tests

Adds pre assigned workers calculations
  modules/city.py
Labels: city

Updates method
  modules/city.py
Labels: city

Adds unit test
  tests/test_city.py
Labels: city, tests

Adds unit test
  tests/test_city.py
Labels: city, tests

Adds example of workers' distribution
  examples/city.py
Labels: city, examples

Expands description of class
  modules/city.py
Labels: city

Updates class docstring
  modules/city.py
Labels: city

Removes import
  tests/test_city.py
Labels: city, tests

Updates test
  tests/test_city.py
Labels: city, tests

Solves pre-assigned workers bug (#146)
  examples/city.py
  modules/city.py
  tests/test_city.py
Labels: city, examples, tests

Updates indentation
  .editorconfig
Labels: tools

Update config
  .vscode/settings.json
Labels: vs-code-settings

Update config
  .editorconfig
  .vscode/settings.json
Labels: tools, vs-code-settings

Update indentations
  .editorconfig
Labels: tools

Updates setup guide
  docs/README.md
Labels: docs

Update tooling (#147)
  .vscode/settings.json
  docs/README.md
Labels: docs, vs-code-settings

Adds permissions explicitly
  .github/workflows/main.yaml
Labels: workflows

Adds global permissions
  .github/workflows/main.yaml
Labels: workflows

Update actions versions from tags to commit SHAs
  .github/workflows/main.yaml
Labels: workflows

Adds alls-green
  .github/workflows/main.yaml
Labels: workflows

Sets permissions to read-only
  .github/workflows/main.yaml
Labels: workflows

Sets permissions to read-only
  .github/workflows/main.yaml
Labels: workflows

Set permissions for the spell check job
  .github/workflows/main.yaml
Labels: workflows

Set permissions for the unit tests job
  .github/workflows/main.yaml
Labels: workflows

.github/labeler.yaml:

building:
  - changed-files:
      - any-glob-to-any-file:
          - data/buildings.yaml
          - examples/building.py
          - modules/building.py
          - tests/test_building.py
campaign:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/campaigns.txt
city:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/cities.txt
          - data/cities.yaml
          - examples/city.py
          - modules/city.py
          - tests/test_city.py
display:
  - changed-files:
      - any-glob-to-any-file:
          - modules/display.py
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - docs/**
          - img/**
          - README.md
effects:
  - changed-files:
      - any-glob-to-any-file:
          - modules/effects.py
          - tests/test_effects.py
env:
  - changed-files:
      - any-glob-to-any-file:
          - Pipfile
          - Pipfile.lock
examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
exceptions:
  - changed-files:
      - any-glob-to-any-file:
          - modules/exceptions.py
geo_features:
  - changed-files:
      - any-glob-to-any-file:
          - modules/geo_features.py
          - tests/test_geo_features.py
kingdom:
  - changed-files:
      - any-glob-to-any-file:
          - examples/kingdom.py
          - modules/kingdom.py
          - tests/test_kingdom.py
resources:
  - changed-files:
      - any-glob-to-any-file:
          - modules/resources.py
          - tests/test_resources.py
scenario:
  - changed-files:
      - any-glob-to-any-file:
          - examples/scenario.py
          - modules/scenario.py
tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - pytest.ini
tools:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell.json
          - .cspell/**
          - .editorconfig
          - .gitattributes
          - .gitignore
          - .isort.cfg
          - .markdownlint-cli2.yaml
          - .markdownlint.yaml
          - .yamllint.yaml
troops:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/troops.txt
vs-code-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .vscode/**
workflows:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
