Repository daczarne/legion, changes with the labels that .github/labeler.yaml gives for each.
All labels: building, campaign, city, display, docs, effects, env, examples, geo_features, kingdom, resources, scenario, tests, tools, troops, vs-code-settings, workflows

.github/labeler.yaml:

building:
  - changed-files:
      - any-glob-to-any-file:
          - building_example.py
          - data/buildings.yaml
          - modules/building.py
          - tests/test_building.py
campaign:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/campaigns.txt
city:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/cities.txt
          - city_example.py
          - data/cities.yaml
          - modules/city.py
          - tests/test_city.py
display:
  - changed-files:
      - any-glob-to-any-file:
          - modules/display.py
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - img/**
          - README.md
effects:
  - changed-files:
      - any-glob-to-any-file:
          - modules/effects.py
          - tests/test_effects.py
env:
  - changed-files:
      - any-glob-to-any-file:
          - Pipfile
          - Pipfile.lock
examples:
  - changed-files:
      - any-glob-to-any-file:
          - building_example.py
          - city_example.py
          - kingdom_example.py
          - scenario_example.py
geo_features:
  - changed-files:
      - any-glob-to-any-file:
          - modules/geo_features.py
          - tests/test_geo_features.py
kingdom:
  - changed-files:
      - any-glob-to-any-file:
          - kingdom_example.py
          - modules/kingdom.py
          - tests/test_kingdom.py
resources:
  - changed-files:
      - any-glob-to-any-file:
          - modules/resources.py
          - tests/test_resources.py
scenario:
  - changed-files:
      - any-glob-to-any-file:
          - modules/scenario.py
          - scenario_example.py
tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - pytest.ini
tools:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell.json
          - .editorconfig
          - .markdownlint.yaml
          - .sqlfluff
          - .yamllint.yaml
troops:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/troops.txt
vs-code-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .vscode/**
workflows:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

Adds docstring to the building class
  modules/building.py
Labels: building

Adds module docstring
  modules/building.py
Labels: building

Adds docstring like comment for the alias
  modules/building.py
Labels: building

Adjusts description
  modules/building.py
Labels: building

Updates docstring
  modules/building.py
Labels: building

Adds docstring in city module
  modules/city.py
Labels: city

Renames private methods
  modules/building.py
  tests/conftest.py
Labels: building, tests

Adds __all__
  modules/building.py
Labels: building

Adds docstring in city module
  modules/city.py
Labels: city

Adds docstrings in the `city` module (#81)
  modules/city.py
Labels: city

Updates the `building` module (#80)
  modules/building.py
  tests/conftest.py
Labels: building, tests

Updates the effects module
  modules/effects.py
Labels: effects

Updates the effects module
  modules/effects.py
Labels: effects

Updates the geo_features module
  modules/geo_features.py
Labels: geo_features

Updates the resources module
  modules/resources.py
Labels: resources

Updates the building module
  modules/building.py
Labels: building

Updates the building module
  modules/building.py
Labels: building

Updates the city module
  modules/city.py
  tests/conftest.py
  tests/test_city.py
Labels: city, tests

Updates the display module
  modules/display.py
Labels: display

Updates the display module
  modules/display.py
Labels: display

Updates the display module
  modules/display.py
Labels: display

Updates the scenario module
  modules/scenario.py
Labels: scenario

Updates the kingdom module
  modules/kingdom.py
Labels: kingdom

Updates module doc for city
  modules/city.py
Labels: city

Adds DEFAULT_SECTION_COLORS to __all__
  modules/display.py
Labels: display

Adds docs string "titles"
  modules/display.py
  modules/kingdom.py
  modules/scenario.py
Labels: display, kingdom, scenario

Adds docs string "titles"
  modules/kingdom.py
  modules/scenario.py
Labels: kingdom, scenario

Clean-up private/public assets (#82)
  modules/building.py
  modules/city.py
  modules/display.py
  modules/effects.py
  modules/geo_features.py
  modules/kingdom.py
  modules/resources.py
  modules/scenario.py
  tests/conftest.py
  tests/test_city.py
Labels: building, city, display, effects, geo_features, kingdom, resources, scenario, tests

Moves the `CityDisplay` class to the `city` module
  city_example.py
  modules/city.py
  modules/display.py
  modules/scenario.py
Labels: city, display, examples, scenario

Adds unit tests for the city display methods
  pytest.ini
  tests/test_city.py
Labels: city, tests

Moves the `CityDisplay` class to the `city` module (#88)
  city_example.py
  modules/city.py
  modules/display.py
  modules/scenario.py
  pytest.ini
  tests/test_city.py
Labels: city, display, examples, scenario, tests

Updates readme
  README.md
Labels: docs

Updates readme
  README.md
Labels: docs

Updates readme
  README.md
Labels: docs

Updates docs/README.md
  docs/README.md
Labels: docs

Updates README.md (#89)
  README.md
  docs/README.md
Labels: docs

Creates the building display
  building_example.py
  modules/building.py
Labels: building, examples

Updates example
  building_example.py
Labels: building, examples

Updates method name
  modules/building.py
Labels: building

Updates docstring
  modules/building.py
Labels: building
