Repository daczarne/legion, changes with the labels that .github/labeler.yaml gives for each.
All labels: building, campaign, city, display, docs, effects, env, examples, geo_features, kingdom, resources, scenario, tests, tools, troops, vs-code-settings, workflows

Fixes style issues
  modules/building.py
Labels: building

Fixes style issues
  modules/building.py
Labels: building

Updates README.md
  README.md
  img/building_city_hall.png
Labels: docs

Updates README.md
  README.md
Labels: docs

Updates README.md
  README.md
Labels: docs

Updates example
  building_example.py
Labels: building, examples

Adds display for buildings (#91)
  README.md
  building_example.py
  img/building_city_hall.png
  modules/building.py
Labels: building, docs, examples

Introduces a new display method to the City class
  city_example.py
  modules/city.py
Labels: city, examples

Updates docstrings
  modules/city.py
Labels: city

Updates docstrings
  modules/city.py
Labels: city

Updates docs
  README.md
Labels: docs

Update README
  README.md
Labels: docs

City facade (#92)
  README.md
  city_example.py
  modules/city.py
Labels: city, docs, examples

Decaouples the Scenario class from the CityDisplay class
  modules/city.py
  modules/scenario.py
  scenario_example.py
Labels: city, examples, scenario

Removes variable that is not intended for public consumption
  modules/display.py
Labels: display

Updates docstring
  modules/scenario.py
Labels: scenario

Renames CityDisplay to _CityDisplayBuilder
  README.md
  modules/city.py
  modules/display.py
  tests/test_city.py
Labels: city, display, docs, tests

Updates dict
  .cspell/python_extras.txt
Labels: none

Updates dict
  .cspell/campaigns.txt
Labels: campaign

Renames the display method `Scenario`
  modules/scenario.py
  scenario_example.py
Labels: examples, scenario

Renames the display method `CityDisplay`
  modules/city.py
Labels: city

Updates example
  city_example.py
Labels: city, examples

Renames the display method `Kingdom`
  kingdom_example.py
  modules/kingdom.py
Labels: examples, kingdom

Rename display methods (#94)
  city_example.py
  kingdom_example.py
  modules/city.py
  modules/kingdom.py
  modules/scenario.py
  scenario_example.py
Labels: city, examples, kingdom, scenario

Sorts dicts entries
  .cspell/campaigns.txt
  .cspell/python_extras.txt
Labels: campaign

Updates CSpell dicts (#95)
  .cspell/campaigns.txt
  .cspell/python_extras.txt
Labels: campaign

.github/labeler.yaml:

building:
  - changed-files:
      - any-glob-to-any-file:
          - building_example.py
          - data/buildings.yaml
          - modules/building.py
          - tests/test_building.py
campaign:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/campaigns.txt
city:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/cities.txt
          - city_example.py
          - data/cities.yaml
          - modules/city.py
          - tests/test_city.py
display:
  - changed-files:
      - any-glob-to-any-file:
          - modules/display.py
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - img/**
          - README.md
effects:
  - changed-files:
      - any-glob-to-any-file:
          - modules/effects.py
          - tests/test_effects.py
env:
  - changed-files:
      - any-glob-to-any-file:
          - Pipfile
          - Pipfile.lock
examples:
  - changed-files:
      - any-glob-to-any-file:
          - building_example.py
          - city_example.py
          - kingdom_example.py
          - scenario_example.py
geo_features:
  - changed-files:
      - any-glob-to-any-file:
          - modules/geo_features.py
          - tests/test_geo_features.py
kingdom:
  - changed-files:
      - any-glob-to-any-file:
          - kingdom_example.py
          - modules/kingdom.py
          - tests/test_kingdom.py
resources:
  - changed-files:
      - any-glob-to-any-file:
          - modules/resources.py
          - tests/test_resources.py
scenario:
  - changed-files:
      - any-glob-to-any-file:
          - modules/scenario.py
          - scenario_example.py
tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - pytest.ini
tools:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell.json
          - .editorconfig
          - .markdownlint.yaml
          - .sqlfluff
          - .yamllint.yaml
troops:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/troops.txt
vs-code-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .vscode/**
workflows:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
