Repository daczarne/legion, changes with the labels that .github/labeler.yaml gives for each.
All labels: building, campaign, city, display, docs, effects, env, examples, exceptions, geo_features, kingdom, resources, scenario, tests, tools, troops, vs-code-settings, workflows

.github/labeler.yaml:

building:
  - changed-files:
      - any-glob-to-any-file:
          - data/buildings.yaml
          - examples/building.py
          - modules/building.py
          - tests/test_building.py
campaign:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/campaigns.txt
city:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/cities.txt
          - data/cities.yaml
          - examples/city.py
          - modules/city.py
          - tests/test_city.py
display:
  - changed-files:
      - any-glob-to-any-file:
          - modules/display.py
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - docs/**
          - img/**
          - README.md
effects:
  - changed-files:
      - any-glob-to-any-file:
          - modules/effects.py
          - tests/test_effects.py
env:
  - changed-files:
      - any-glob-to-any-file:
          - Pipfile
          - Pipfile.lock
examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
exceptions:
  - changed-files:
      - any-glob-to-any-file:
          - modules/exceptions.py
geo_features:
  - changed-files:
      - any-glob-to-any-file:
          - modules/geo_features.py
          - tests/test_geo_features.py
kingdom:
  - changed-files:
      - any-glob-to-any-file:
          - examples/kingdom.py
          - modules/kingdom.py
          - tests/test_kingdom.py
resources:
  - changed-files:
      - any-glob-to-any-file:
          - modules/resources.py
          - tests/test_resources.py
scenario:
  - changed-files:
      - any-glob-to-any-file:
          - examples/scenario.py
          - modules/scenario.py
tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - pytest.ini
tools:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell.json
          - .cspell/**
          - .editorconfig
          - .gitattributes
          - .gitignore
          - .isort.cfg
          - .markdownlint-cli2.yaml
          - .markdownlint.yaml
          - .yamllint.yaml
troops:
  - changed-files:
      - any-glob-to-any-file:
          - .cspell/troops.txt
vs-code-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .vscode/**
workflows:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

Update needs
  .github/workflows/main.yaml
Labels: workflows

Update security of GitHub Actions workflows (#148)
  .github/workflows/main.yaml
Labels: workflows

Updates label echoing
  .github/workflows/main.yaml
Labels: workflows

Updates examples running
  .github/workflows/main.yaml
Labels: workflows

Update security of GitHub Actions (#149)
  .github/workflows/main.yaml
Labels: workflows

Allows label-pr to be skipped
  .github/workflows/main.yaml
Labels: workflows

Fixes `alls-green` job (#150)
  .github/workflows/main.yaml
Labels: workflows

Adds new environment
  .python-version
  .vscode/settings.json
  .yamlignore
  .yamllint.yaml
  Pipfile
  Pipfile.lock
  pyproject.toml
  uv.lock
Labels: env, tools, vs-code-settings

Update docs and isort
  .cspell.json
  .gitignore
  .isort.cfg
  docs/README.md
  pyproject.toml
Labels: docs, tools
